body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ff69b4, #1e90ff);
  font-size: 18px;
  color: white;
}

header {
  text-align: center;
  padding: 50px 0;
}

nav {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

nav a {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 80px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.7);
}

footer {
  text-align: center;
  padding: 20px 0;
}
